.menulist {
    ul {
        // border: 1px solid;
        padding: 0px;
        list-style-type: none;

        li:first-child {
            padding-left: 0px;
        }
        li {
            display: inline;
            padding-left: 20px;

            a {
                text-decoration: none;
                color: inherit;
                font-size: 25px;
            }
        }
    }
}