.taskboard {
  width: 100%;

  &__content {
    position: relative;
    width: 100%;
    // border: 1px solid;
    display: flex;
    justify-content: center;
    table {
      border-collapse: collapse;
      // border: 1px solid;
      text-align: center;
      th {
        // border: 1px solid;
        &:first-child {
          display: flex;
          justify-content: center;
          border: none;

          i {
            margin-right: 10px;
            cursor: pointer;
            &:hover {
              color: #0081A7;
            }
          }
          // * {
          //   margin-right: 10px;
          //   &:hover {
          //     cursor: pointer;
          //   }
          // }
        }
      }
      th,
      td {
        // border: 1px solid;
        padding: 10px;
      }
      tr {
        &:first-child {
          border-top: 2px solid;
          border-bottom: 2px solid;
        }
        &:hover {
          background-color: blanchedalmond;

          // border-radius: 10px;
          font-weight: 400;
          &:first-child {
            cursor: unset;
            background-color: white;
          }
          cursor: pointer;
        }
      }
    }
  }
}
